<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/icon.ico')}}">
</head>
<body>

    {% include 'topnav.html' %}

    <img src="static/images/logo.png" alt="logo" class="main-img">
    <p class="about-text">
        <u>Zalupa</u>
        <span> - самый популярный в мире веб-портал, уже </span>
        <span style="color:#c90487">25 лет</span>
        <span>продающий лучшие в мире дилдо.</span>
        <span>Наш товар покупают почти в каждой стране! Наши изделия уже побывали у более чем </span>
        <span style="color:#c90487">100 млн</span>
        <span>пользователей!</span>
        <span>Благодаря нашему основателю </span>
        <span><a href="https://i.ibb.co/NFmTD70/webcam-toy-photo1.jpg" style="color:#c90487">Корнею Ильяшенко</a></span>
        <span> абсолютно каждая женщина может позволить себе отличный резиновый продукт.</span>
    </p>    
    
    {% include 'footer.html' %}
    
</body>
</html>