<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">
</head>
<body class="body-sign-in">

    {% include 'topnav.html' %}

    <h2 class="title-sign-in">Log In</h2>
    <form class="form-sign-in" action="{{ url_for('log-in.signin') }}" method="post">
        <div>
            <label for="email">Login:</label>
            <input type="text" id="email" name="email" class="input-field-sign-in" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="input-field-sign-in" required>
        </div>
        <div>
            <button type="submit" class="submit-button-sign-in">Log In</button>
        </div>
        {% if error %}
            <div class="error-sign-in">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if success %}
            <div class="success-sign-in" style="color: green;">
                <p>{{ success }}</p>
            </div>
        {% endif %}
    </form>

    {% include 'footer.html' %}

</body>
</html>