<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/icon.ico')}}">
</head>
<body>
    
    {% include 'topnav.html' %}

    {% if code == "1488" %}
        <img src="static/images/secret.jpg" alt="егнеба", class="secret-img">
        <p class="subtitle" style="padding-top: 10px;">Пасхалко есть! Спасибо за помощь!</p>
    {% else %}
        <p class="subtitle-no-secret">Пасхалко нет, вы наебаны.</p>
    {% endif %}
    {% include 'footer.html' %}

</body>
</html>