<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsors</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/icon.ico')}}">
</head>
<body>
    {% include 'topnav.html' %}

    <h1 class="main-title">Sponsors</h1>
    <p class="subtitle">
        <span>Наш главный спонсор - <a href="https://fuckingslave-club.pages.dev/" style="color:#c90487">Fucking Slave Club</a></span>
    </p>
    <p class="about-text">Также портал работает при помощи секса, егнебы борова, мазелова, анатолия сергеевича и т.д.</p>

    {% include 'footer.html' %}

</body>
</html>